<section>
    <div id="content">
        {{ if isset .Params "id" }}

        {{ partial .Params.id . }}

        {{ else }}

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div>
                        {{ .Content }}
                        ABOUT OPENAGE PLACEHOLDER
                    </div>

                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        {{ end }}
    </div>
    <!-- /#content -->
</section>
