<div class="panel panel-default">

    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-parent="#{{ .accordionid }}" data-toggle="collapse" href="#{{.element.id}}">
                {{ .element.title | markdownify }}
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse
    {{ if eq .index "id={{ .element.id }}"  }} in
    {{ end }}">
    <div class="panel-body">
        {{ with .element.img }}
        <div class="row">
            <div class="col-md-4">
                <img alt="" class="img.responsive" src="{{.}}">
            </div>
            <div class="col-md-8">
                {{end}}
                {{- .element.content | markdownify -}}
                {{ with .element.img }}
            </div>
        </div>
        {{end}}
    </div>
</div>
